@font-face{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('./Oswald-Variable.woff2') format('woff2');
}
@font-face{
  font-family: 'Rock Salt';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./RockSalt-Regular.woff2') format('woff2');
}
